/*header*/

header {
    position: relative;
    z-index: 1;
    box-shadow: 0px -20px 30px -2px hsl(200, 15%, 8%);
    font-weight: bold;
    animation-duration: 0.5s;
}

.center-content-header {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header div h2 {
    margin: 0;
}

.dark-ligth {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.dark-ligth img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.dark-ligth p {
    margin: 0;
}


/*main*/

main {
    display: flex;
    animation-duration: 0.5s;
    font-weight: lighter;
    min-height: 100vh;
}

.center-content-main {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    animation-name: animationDesple;
    animation-duration: 0.5s;
}

.funciones-search-filter {
    display: flex;
    flex-direction: row;
}


/* main search*/

.search {
    height: 3rem;
    display: flex;
    align-items: center;
    width: 30rem;
    padding-left: 1.5rem;
    animation-duration: 0.5s;
    border-radius: 0.4rem;
}

.search img {
    width: 1.5rem;
    margin-right: 1.5rem;
}

.search input {
    background-color: transparent;
    border: none;
    width: 25rem;
}

.search input:focus {
    border-color: transparent;
    outline: 0 none;
}


/*main filter*/

.select-region {
    border: none;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 12rem;
    display: flex;
    flex-direction: row;
    animation-duration: 0.5s;
    cursor: pointer;
}

.select-region p {
    margin: 0;
    padding-right: 3rem;
    padding-left: 0.7rem;
}

.select-region img {
    width: 1rem;
    margin-left: auto;
}

.select-container {
    margin-left: auto;
}

.selectDesple {
    padding: 1rem;
    margin-top: 0.18rem;
    border-radius: 0.4rem;
    animation-duration: 0.5s;
    position: absolute;
    z-index: 1;
    width: 11.3rem;
}

.selectDesple p:hover {
    box-shadow: 0px 2px 3px -4px white;
}

.border {
    border-radius: 0.4rem;
}

.selectDesple p {
    margin: 0;
    margin-bottom: 0.2rem;
    cursor: pointer;
}


/*main tarjetas paises*/

.content-tarjetas {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 6.5%;
    row-gap: 4rem;
}

.tarjetas {
    border-radius: 0.4rem;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 30px -15px hsl(200, 15%, 8%);
}

.tarjetas:hover {
    margin-top: -0.5rem;
}

.contenedor-img-tarjetas {
    width: 100%;
    height: 10rem;
}

.content-tarjetas div img {
    border-radius: 0.4rem;
    width: 100%;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
}

.contenedor-txt-tarjetas {
    padding: 1rem;
}

.contenedor-txt-tarjetas p {
    color: hsl(0, 0%, 52%);
    margin: 0;
    margin-bottom: 0.4rem;
}

.name-pais {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem !important;
}


/*Detalles paises*/

.pais-detalle {
    display: flex;
    flex-direction: row;
}

.pais-detalle div p {
    color: hsl(0, 0%, 52%);
}

.imgDetalle {
    width: 50%;
}

.imgDetalle img {
    width: 90%;
    margin-top: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 25px -10px hsl(200, 15%, 8%);
}

.infoDetalle {
    width: 50%;
}

.margin-left {
    margin-left: auto;
}

.back {
    display: flex;
    flex-direction: row;
    width: 9rem;
    justify-content: center;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 25px -10px hsl(200, 15%, 8%);
    margin-bottom: 3rem;
    cursor: pointer;
}

.back img {
    margin-right: 0.8rem;
    width: 2rem;
}


/*animacion del filtro al desplegar */

@keyframes animationDesple {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reverseanimationDesple {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*animacion de color de los elementos*/

@keyframes fromWhitetoBlack {
    from {
        background-color: hsl(0, 0%, 100%);
    }
    to {
        background-color: hsl(209, 23%, 22%);
    }
}

@keyframes fromBlacktoWhite {
    from {
        background-color: hsl(209, 23%, 22%);
    }
    to {
        background-color: hsl(0, 0%, 100%);
    }
}


/*animacion del color de fondo*/

@keyframes fromWhitetoBlackMain {
    from {
        background-color: hsl(0, 0%, 98%);
    }
    to {
        background-color: hsl(207, 26%, 17%);
    }
}

@keyframes fromBlacktoWhiteMain {
    from {
        background-color: hsl(207, 26%, 17%);
    }
    to {
        background-color: hsl(0, 0%, 98%);
    }
}