/* You can add global styles to this file, and also import other style files */

@media (min-width: 360px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        margin: 0;
        font-size: 12px;
    }
}

@media (min-width: 1281px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        margin: 0;
        font-size: 16px;
    }
}